body {
    background-color: #f9f9f9;
}

html, body {
    overflow: hidden;
    height: 100%;
}


.contact-container {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.form-container {
    background: white;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.image-container img {
    border-radius: 8px;
    width: 100%;
    height: auto;
}

.btn-custom {
    background-color: #000000;
    color: white;
    border: none;
}

.btn-custom:hover {
    background-color: #b67575;
}